---
import Base from '../layouts/Base.astro'
import ProjectCard from '../components/ProjectCard.astro'

const pageTitle = 'Index for portfolio'
---

<Base pageTitle={pageTitle}>
	<section class="text-center mt-20">
		<h2 class="text-2xl font-bold">Hello, I'm Bille</h2>

		<p class="text-lg text-faded">I'm a developer passionated about:</p>
		<div class="grid intro text-align mt-6 mx-auto gap-6 content-around grid-cols-2 text-lg">
			<a href="#learning" class="hover:border-accent focus:border-accent link" title="Explore what tech i am curretly exploring" aria-label="Explore what tech i am curretly exploring">Learning</a>
			<a href="#improvements" class="link" title="Check out how i am Improving myself!" aria-label="Check out how i am Improving myself!">Improving</a>
			<a href="" class="link" title="" aria-label="">Sustainability</a>
			<a href="" class="link" title="" aria-label="">Accessibility</a>
		</div>
		<p class="text-faded mt-4">...Honestly i like to develope Cool stuff.</p>
	</section>
	<section class="my-40 max-w-[95%] mx-auto" id="projects">
		<h2 class="text-xl font-bold underline underline-offset-4 mb-4">Projects</h2>
		<div class="projects-con gap-6">
			<ProjectCard
				image="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
				title="1"
				description="descr 1"
				link="#"
				tags={['one', 'two', 'three']}
			/>
			<ProjectCard
				image="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
				title="2"
				description="descr 2"
				link="#"
				tags={['one', 'two', 'three']}
			/>
		</div>
	</section>
</Base>

<style>
	.greeting {
		margin-inline: auto;
		margin-top: 10%;
	}
	.intro {
	}
	.projects-con {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		margin-inline: auto;
	}

	@media (min-width: 420px) {
		/* .intro {
			width: 33%;
		} */
	}

	@media (min-width: 500px) {
		.projects-con {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
		.projects-con < a:nth-last-child(odd) {
			column-span: 2;
		}
		.intro {
			width: 66%;
		}
	}

	@media (min-width: 1024px) {
		.intro {
			width: 33%;
		}
		.projects-con {
			gap: 3rem;
		}
	}
</style>
