---
import Base from '../layouts/Base.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Icon from 'astro-icon'
const pageTitle = "Anders' Portfolio"
---

<Base pageTitle={pageTitle}>
	<section class="text-center mt-20">
		<h2 class="text-2xl font-bold">Hello, I'm Bille</h2>

		<p class="text-lg text-faded">I'm a developer passionated about:</p>
		<div class="grid intro text-align mt-6 mx-auto gap-6 content-around grid-cols-2 text-lg">
			<a href="#projects" class="hover:border-accent focus:border-accent link" title="Explore what tech i am curretly exploring" aria-label="Explore what tech i am curretly exploring">Learning</a>
			<a href="#learning" class="link" title="Check out how i am Improving myself!" aria-label="Check out how i am Improving myself!">Improving</a>
			<a href="" class="link" title="" aria-label="">Sustainability</a>
			<a href="" class="link" title="" aria-label="">Accessibility</a>
		</div>
		<p class="text-faded mt-4">...Honestly i like to develope Cool stuff.</p>
	</section>
	<section class="my-40 mx-auto" id="projects">
		<h2 class="text-xl font-bold underline underline-offset mb-4">Projects</h2>
		<div style="margin: 0.5rem 0rem; gap: 1rem;" class="flex">
			<a href="https://github.com/BilleLind/" class="link">Github</a>
			<a href="https://gitlab.com/BilleLind" class="link">Gitlab</a>
		</div>
		<div class="projects-con gap-6">
			<ProjectCard
				state="finished"
				image="/images/zealand-connect.jpg"
				title="Zealand Connect"
				description="Zealand Connect was a ~2 month long group project with the aim of creating an intern/ship platform for our entire School. Split up into 4 Scrum teams, we got to experience working agile across teams with direct contact to the users for feedback."
				link="https://praktikindex.zealand.dk"
				tags={['Express', 'Scrum', 'HBS', 'Docker']}
			/>
			<ProjectCard
				state="finished"
				image="/images/lagalt.jpg"
				title="Lagalt"
				description="Lagalt is a project collaboration Web Application built using React.js and Spring Boot with Keycloak as the indentity manager."
				link="#"
				tags={['Spring Boot', 'React.js', 'Vite.js', 'Keycloak', 'OAuth']}
			/>
			<ProjectCard
				state="finished"
				image="/images/advice-generator.jpg"
				title="Advice Generator"
				description="A Frontend Mentor Project, where i focused on utilizing Vanilla Css and Flexbox."
				link="https://billelind.github.io/frontend-mentor-challenges/advice-generator/"
				tags={['Javascript', 'Flexbox']}
			/>
			<ProjectCard
				state="finished"
				image="/images/ecommerce-product-page.png"
				title="Ecommrec Product Page"
				description="A Frontend Mentor Project, Focused on using React with Typescript with Primarily using Tailwindccs for styling"
				link="https://ecommerce-product-page.billelind.dev/"
				tags={['React', 'Typescript', 'Tailwindcss']}
			/>
			<ProjectCard
				state="in progess"
				title="EVE: WH Anomaly and Sinature overview"
				image="/images/placeholder.jpg"
				description="A Website for helping WH players better determine if a WH is worth setting up, starting small with a bunch of potential for expansion later on."
				link=""
				tags={['EVE Online', 'TBD']}
			/>
			<ProjectCard
				state="finished"
				image="/images/news-homepage.png"
				title="News Homepage"
				description="A Frontend Mentor Project, Created with Vue while trying to keep the CSS simple"
				link="https://news-homepage.billelind.dev/"
				tags={['Vue', 'CSS']}
			/>

			<!-- 
				<ProjectCard
			finished={false}
				image=""
				title=""
				description=""
				link="#"
				tags={['one',]}
			/>

			 -->
		</div>
	</section>
	<section id="learning" class="my-40 learning">
		<h2 class="text-xl font-bold underline underline-offset mb-4">Current Focus</h2>
		<div>
			<article>
				<h2>.NET</h2>
				<p>
					With a long desire to dive into .NET, i have started the journey diving in to a lot of different resources with a few different applicaitons that i want to build along the way. Wherin i hope
					to utilize .NET along with Azure to its fullest potential.
				</p>
			</article>

			<!-- <article>
				<h2>Python</h2>
				<p>Currently taking a Python Cerfification, some of it being a refresher of the basics and the rest going into more <u>advanced</u> parts along a introduction to <u>Machine Learning</u>.</p>
			</article> -->

			<article>
				<h2>Frontend Mentor Projects</h2>
				<p>
					I aim to have a Frontend Mentor project i devote time to any given week, training with different stacks while strengthen my CSS, UX and Accessibility knowledge. Mostly focused on using Vue
					and React.
				</p>
			</article>

			<article>
				<h2>EVE Online: Wormhole focused web application</h2>
				<p>
					Having used and seen different ways of using Web applications to make playing EVE more managable, I decided i wanted to have a go at it.
					<br />
					With the focus on Wormhole space, i have multiple pieces that i want to create. <br />
					<b>The First</b> being an conversion of a well known WH Guide, improving my Table Experience.
					<b>The Second</b> Gaining experience with movable objects through building an Connections Mapper. With a lot of smaller elements that i want to explore Developing.
				</p>
			</article>
		</div>
	</section>
	<section>
		<h2 class="text-xl font-bold underline underline-offset mb-4">How I Work</h2>
		<p class="text-faded">
			Having had the opertunity to work from the initial stages of Projects to the final stages, have tought me a great deal and helped my understanding of different approaches, while having tought me
			that focus on efficiency can be vital.
			<br /> An Efficiency that have projected itself, in the case of a Frontend focused project as a Focus on UX, Accessibility and simplicity. In a Backend Focused project kept an eye on the final project
			from start to finish enabling myself to prevent complexity and keeping it simple.
			<br /> While having dealt with setting up simpler deploy pipelines and server setup, have kept me cautious of vulnabilities, driving me to have a important focus on security on both the server and
			the applications i built.
		</p>
		<div class="grid fe-be gap-4">
			<div class="">
				<h4 class="text-lg underline my-8">Frontend</h4>
				<div class="stacks">
					<a href="https://reactjs.org/" title="React's Website" referrerpolicy="no-referrer" target="_blank"> <Icon name="logo-react" optimize="true" class="h-6 w-6 mr-2" /> React</a>
					<a href="https://svelte.dev/" title="Svelte's Website" referrerpolicy="no-referrer" target="_blank"><Icon name="logo-svelte" optimize="true" class="h-6 w-6 mr-2" /> Svelte</a>
					<a href="https://vuejs.org/" title="Vue's Website" referrerpolicy="no-referrer" target="_blank"><Icon name="logo-vue" optimize="true" class="h-6 w-6 mr-2" /> Vue</a>
					<a href="https://angular.io/" title="Angular's Website" referrerpolicy="no-referrer" target="_blank"><Icon name="logo-angular" optimize="true" class="h-6 w-6 mr-2" /> Angular</a>

					<!-- <a href="https://" title="'s Website" referrerpolicy="no-referrer" target="_blank" class="flex items-center"
						><Icon name="logo-" optimize="true" class="h-6 w-6 mr-2" /> <p class="truncate"></p></a
					> -->
				</div>
			</div>
			<div>
				<h4 class="text-lg underline my-8">Backend</h4>
				<div class="stacks">
					<a href="https://dotnet.microsoft.com/en-us/" title=".NET's Website" referrerpolicy="no-referrer" target="_blank" class="flex items-center"
						><Icon name="logo-dotnet" optimize="true" class="h-6 w-6 mr-2" /><p class="truncate">.NET</p>
					</a>
					<a href="https://fastify.io/" title="Fastify's Website" referrerpolicy="no-referrer" target="_blank"
						><Icon name="logo-fastify" optimize="true" class="h-6 w-6 mr-2 icon-dark-white" /><p class="truncate">Fastify</p>
					</a>
					<a href="https://laravel.com/" title="Laravel's Website" referrerpolicy="no-referrer" target="_blank"
						><Icon name="logo-laravel" optimize="true" class="h-6 w-6 mr-2" /><p class="truncate">Laravel</p>
					</a>
					<a href="https://nodejs.org/" title="Nodejs's Website" referrerpolicy="no-referrer" target="_blank"
						><Icon name="logo-nodejs" optimize="true" class="h-6 w-6 mr-2" /><p class="truncate">Nodejs</p>
					</a>
					<a href="https://spring.io/" title="Spring's Website" referrerpolicy="no-referrer" target="_blank"
						><Icon name="logo-spring" optimize="true" class="h-6 w-6 mr-2" /><p class="truncate">Spring</p>
					</a>
				</div>
			</div>
			<div>
				<h4 class="text-lg underline my-8">Utility</h4>
				<div class="stacks">
					<a href="https://typescriptlang.org/" title="Typescript's Website" referrerpolicy="no-referrer" target="_blank"
						><Icon name="logo-typescript" optimize="true" class="h-6 w-6 mr-2" /><p class="truncate">Typescript</p>
					</a>
					<a href="https://vitejs.dev/" title="Vitejs' Website" referrerpolicy="no-referrer" target="_blank">
						<Icon name="logo-vitejs" optimize="true" class="h-6 w-6 mr-2" />
						<p class="truncate">Vitejs</p>
					</a>
					<a href="https://figma.com" title="Figma' Website" referrerpolicy="no-referrer" target="_blank">
						<Icon name="logo-figma" optimize="true" class="h-6 w-6 mr-2" /><p class="truncate">Figma</p>
					</a>
					<a href="https://git-scm.com/" title="Git' Website" referrerpolicy="no-referrer" target="_blank">
						<Icon name="logo-git" optimize="true" class="h-6 w-6 mr-2" /><p class="truncate">Git</p>
					</a>
				</div>
			</div>
			<div>
				<h4 class="text-lg underline my-8">Dev Ops</h4>
				<div class="stacks">
					<a href="https://ubuntu.com/" title="Ubuntu's Website" referrerpolicy="no-referrer" target="_blank">
						<Icon name="logo-ubuntu" optimize="true" class="h-6 w-6 mr-2" /><p class="truncate">Ubuntu</p>
					</a>
					<a href="https://cloud.google.com/" title="Goggle Cloud's Website" referrerpolicy="no-referrer" target="_blank">
						<Icon name="logo-google-cloud" optimize="true" class="h-6 w-6 mr-2" />
						<p class="truncate">Google Cloud</p>
					</a>
					<a href="https://azure.microsoft.com/" title="Azure's Website" referrerpolicy="no-referrer" target="_blank">
						<Icon name="logo-azure" optimize="true" class="h-6 w-6 mr-2" />
						<p class="truncate">Azure</p>
					</a>
					<a href="https://docker.com" title="Docker's Website" referrerpolicy="no-referrer" target="_blank">
						<Icon name="logo-docker" optimize="true" class="h-6 w-6 mr-2" /><p class="truncate">Docker</p>
					</a>
					<a href="https://apache.com" title="Apache' Website" referrerpolicy="no-referrer" target="_blank">
						<Icon name="logo-apache" optimize="true" class="h-6 w-6 mr-2" />
						<p class="truncate">Apache</p>
					</a>
					<a href="https://nginx.com" title="Nginx' Website" referrerpolicy="no-referrer" target="_blank">
						<Icon name="logo-nginx" optimize="true" class="h-6 w-6 mr-2" />
						<p class="truncate">Nginx</p>
					</a>
					<a href="https://github.com/features/actions" title="Github Actions' Website" referrerpolicy="no-referrer" target="_blank">
						<Icon name="logo-githubactions" optimize="true" class="h-6 w-6 mr-2" />
						<p class="truncate">Github Actions</p>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- 
						<a href="http://" title="" referrerpolicy="no-referrer" target="_blank" class="flex items-center"> 
						<Icon name="logo-" optimize="true" class="h-6 w-6 mr-2" />
						<p class="truncate"></p>
					</a> 
					-->
	<style>
		.greeting {
			margin-inline: auto;
			margin-top: 10%;
		}
		.intro {
		}
		.projects-con {
			display: grid;
			grid-template-columns: repeat(1, minmax(0, 1fr));
			margin-inline: auto;
		}

		.learning > div {
			display: grid;
			grid-template-columns: repeat(1, minmax(0, 1fr));
			margin-inline: auto;
			gap: 1rem;
		}
		.learning > div > article > p {
			border: 1px solid hsl(var(--dark-text));

			border-top: 0;
			padding: 0.25rem;
			border-radius: 0 0 0.25rem 0.25rem;
		}
		.learning > div > article:hover > p {
			border-color: hsl(var(--accent));
		}
		.learning > div > article > h2 {
			text-decoration: underline;
			font-weight: bold;
			padding: 0.25rem;
		}
		.learning > div > article:hover > h2 {
			text-decoration-color: hsl(var(--accent));
		}
		/* .fe-be {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	} */
		.fe-be a {
			border-radius: 0.5rem;
			border: 2px solid hsl(var(--dark-card));
			padding: 0.5rem 0.5rem;
			transition: ease-in-out;
			transition-duration: 400ms;
		}
		.fe-be a:hover {
			border-color: hsl(var(--accent));
		}

		.stacks {
			display: grid;
			gap: 1rem 0.5rem;
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
		.stacks > a {
			display: flex;
			align-items: center;
		}

		@media (min-width: 420px) {
			/* .intro {
			width: 33%;
		} */
			/* .fe-be .stacks {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		} */
		}
		@media (min-width: 500px) {
			.projects-con {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
			.projects-con < a:nth-last-child(odd) {
				column-span: 2;
			}
			.intro {
				width: 66%;
			}
			.learning > div {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}

		@media (min-width: 748px) {
			.fe-be {
				grid-template-columns: repeat(2, minmax(0, 1fr));
				border-right-width: 0px;
				border-left-width: 1px;
				border-color: red;
			}
			.stacks {
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}
		}

		@media (min-width: 1024px) {
			.intro {
				width: 33%;
			}
			.projects-con {
				gap: 3rem;
			}
			.fe-be {
				gap: 4rem;
			}
			.stacks {
				grid-template-columns: repeat(4, minmax(0, 1fr));
			}
			.learning > div {
				gap: 3rem;
			}
		}

		/* @media (min-width: 1400px) {
		.fe-be .stacks {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
	} */

		.truncate {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		@media (prefers-color-scheme: light) {
			.learning > div > article {
				box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
			}
			.learning > div > article > p {
				border-color: hsl(var(--dark));
			}
			.learning > div > article:hover > p {
				border-color: hsl(var(--accent-dark));
			}
			.learning > div > article:hover > h2 {
				text-decoration-color: hsl(var(--accent-dark));
			}
		}
	</style>
</Base>
