<header class="flex items-center justify-between py-6">
	<a href="/" class="link">BilleLind</a>
	<nav class="flex gap-x-2">
		<!-- <a href="/blog" class="link">Writings</a> -->
		<a href="/about" class="link">About</a>
		<!-- Dark/light mode? -->
	</nav>
</header>

<style>
	header {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
	nav {
		column-gap: 0.5rem;
	}
</style>
