<header class="flex items-center justify-between py-6">
	<a href="/">BilleLind</a>
	<nav class="flex gap-x-2">
		<a href="/blog">Writings</a>
		<a href="/about">About</a>
		<!-- Dark/light mode? -->
	</nav>
</header>
