---
const { image } = Astro.props
---

<article class="border-2 rounded-lg shadow-xl">
	<img src={image} alt="" class="w-full object-cover" />
	<!-- <div class="">
		<h3>Project title</h3>
		<ul class="list-none flex">
			<li>Tag 1</li>
			<li>Tag 2</li>
			<li>Tag 3</li>
			<li>Tag 4</li>
		</ul>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. In odit error id sapiente officia. Voluptatibus nisi amet ipsam assumenda, fuga in? Mollitia accusamus, dolorum laudantium natus omnis
			consequatur molestias iusto.
		</p>
	</div> -->
</article>
