*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	font-size: inherit;
	font-weight: inherit;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#root,
#__next {
	isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--dark: 0deg, 0%, 8%;
	--dark-card: 0deg, 0%, 15%;
	--dark-text: 0deg, 0%, 99%;
	--light: 0deg, 0%, 88%;
	--accent:142, 60%, 55%;
	--accent-dark: 142, 67%, 34%;
	--blue: #0e141b;
	--golden: #f4d35e;
	--xxs: clamp(0.69rem, calc(0.65rem + 0.2vw), 0.84rem);
	--xs: clamp(0.83rem, calc(0.77rem + 0.29vw), 1.05rem);
	--base: clamp(1rem, calc(0.92rem + 0.42vw), 1.31rem);
	--lg: clamp(1.2rem, calc(1.08rem + 0.6vw), 1.64rem);
	--xl: clamp(1.44rem, calc(1.27rem + 0.83vw), 2.05rem);
	--xxl: clamp(1.73rem, calc(1.5rem + 1.13vw), 2.56rem);
	--xxxl: clamp(2.07rem, calc(1.77rem + 1.53vw), 3.2rem);
	--xxxxl: clamp(2.49rem, calc(2.08rem + 2.06vw), 4.01rem);
}

.text-xs {
	font-size: var(--xs);
}
.text-2xs {
	font-size: var(--xxs);
}
.text {
	font-size: var(--base);
}
.text-lg {
	font-size: var(--lg);
}
.text-xl {
	font-size: var(--xl);
	line-height: 110%;
}
.text-2xl {
	font-size: var(--xxl);
}
.text-3xl {
	font-size: var(--xxxl);
}
.text-4xl {
	font-size: var(--xxxxl);
}


body {
	color-scheme: dark light;
	background-color: hsl(var(--dark));
	color: hsl(var(--dark-text));
	border-color: hsl(var(--dark));
}
.card {
	background-color: hsl(var(--dark-card));
}

.icon-dark-white {
	fill: hsl(var(--dark-text));
}

@media(prefers-color-scheme: light) {
	:root {
		color-scheme: light;
	}
	body {
		background-color: hsl(var(--light));
		color: hsl(var(--dark));
		border-color: red;
	}
	.icon-dark-white {
		fill: hsl(var(--light));
	}

	.card {
		background-color: red;
	}

}

.link {
	text-decoration: underline;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
}
.link:hover {
	color: hsl(var(--accent));
	transform: scale(1.1);
}
.link:focus {
	color: hsl(var(--accent));
	transform: scale(1.1);
	outline: 2px solid transparent;
	outline-offset: 2px;
}

/** Utilities **/

.flex {
	display: flex;
}
.items-center {
	align-items: center;
}
.font-bold {
	font-weight: bold;
}

/* Margins */
.mt-10 {
	margin-top: 2.5rem;
}
.mt-20 {
	margin-top: 5rem;
}
