---
import Footer from '../components/Footer.astro'
import Navigation from '../components/Navigation.astro'
import '../styles/global.css'

const { pageTitle } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body class="mx-4 lg:max-w-[90%] lg:mx-auto selection:text-accent">
		<Navigation />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
